<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d5cb444050b60a589c2bdde5e/75badafd2f716d77dd9963f29.js");</script>
<div id="phplistsubscriberesult"></div>
<form action="https://alexandria.hosted.phplist.com/lists/?p=subscribe&id=1" method="post" id="phplistsubscribeform">
  <input type="text" name="email" value="" placeholder="Please enter your email" id="emailaddress" />
  <div>
    <button type="submit" id="phplistsubscribe">Subscribe</button>
  </div>
</form>
